.time-completed-exam-start-card {
  width: 110px !important;
  height: 70%;
  background-color: brown;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 8px;
  font-size: 17px;
  font-weight: bold;
}
